**/node_modules
**/dist
**/*.tsbuildinfo
.git
**/.git
**/.env
**/.env.*
!**/.env.example
!**/.env.docker.example
coordination
!docs/
docs/*
!docs/21-openapi.json
architecture
tasks
**/coverage
**/test-results*
**/playwright-report
**/*.log
